@import "./variables.scss";
@import "./mixins.scss";

.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.spotlight__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the container and removes black bars */
  display: block;
}

.spotlight {
  position: relative;
  width: 100%;
  height: 88vh; // Set the height for the container (viewport height)

  @include for-mobile-only {
    height: 64vh; // Adjust height for mobile devices
  }

  &__details {
    position: absolute;
    z-index: 10; // Layer the details on top of the video/image
    width: 35%;
    margin-left: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    bottom: 25%; // Position details slightly above the bottom

    @include for-mobile-only {
      width: 75%;
      justify-content: center;
      text-align: center;
      margin-left: 0;
      bottom: 2rem; // Adjust for mobile
    }

    .title {
      font-weight: 600;
      padding: 0.4rem;

      @include fluid-type(2.2rem, 2.8rem);
    }

    .synopsis {
      font-weight: 400;
      padding: 0.3rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include fluid-type(0.9rem, 1.3rem);
    }

    .buttonRow {
      display: flex;
      flex-direction: row;
      margin: 0.3rem 0;

      @include for-mobile-only {
        justify-content: center;
      }
    }
  }
}
